---
layout: default
---

<div class="welcome">

  <p>
    Bits of Berlin is a <a href="http://podwhat.org">podcast</a> about tech in Berlin. In every episode we talk
    with hidden heroes about their project, their passion. Come with us and
    discover parts of Berlin you might not know yet.
  </p>

  <div class="entry">
    {% assign episode = site.categories["episodes"].first  %}
    <h1>Latest Episode</h1>
    <h2>
      <a class="post-link" href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a>
    </h2>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ episode.soundcloud }}"></iframe>
    <p>
      {{ episode.short }}
    </p>
    <p>
     <a href="{{ episode.url | prepend: site.baseurl }}">Read more&nbsp;...</a>
    </p>
  </div>

  <div class="entry">
    {% assign post = site.categories["blog"].first  %}
    <h1>Latest Blogpost</h1>
    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div>
      <p>
        {{ post.short }}
      </p>
      <p>
        <a href="{{ post.url | prepend: site.baseurl }}">Read more&nbsp;...</a>
      </p>
    </div>
  </div>
  {% include flattr.html %}
  {% include license.html %}
</div>
