---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {% if page.mp3 %}
    {% include podlove.html page=page %}
  {% endif %}

  {{ content }}
  </article>

  <div class='social'>

    <div class="share">
      <img alt="heart" src="/css/emoji/heart.png" class="emoji"> it?
      Share it on <a class="tweet" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}">Twitter</a> or
      <a class="fbpost" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">Facebook</a> !
    </div>

    <script>
      $('a.tweet').click(function(e){
        e.preventDefault();
        var loc = "{{ site.url }}{{ page.url }}";
        var title  = encodeURI("{{page.title}} by @bitsofberlin");
        window.open('https://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
      });
      $('a.fbpost').click(function(e){
        e.preventDefault();
        window.open($(this).attr("href"), 'fbwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
      });
    </script>

  </div>

  {% include license.html %}
</div>
